*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

.btn{
    padding: var(--padding-small) var(--padding-large);
    border: none;
    outline: none;
    border-radius: var(--border-radius-medium);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-large);
    margin-right: var(--margin-2x-large);
    width: 70%;
    align-items: center;
}

main section .right{
    width: 30%;
}

main section{
    width: 100%;
    padding: var(--padding-2x-large);
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-medium);
}

main section .bottom{
    display: flex;
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2x-large);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-extra-large);
    justify-content: center;
    align-items: center;    
}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    gap: var(--gutter-medium);
}

main section .bottom .placeholder i{
    font-size: var(--font-size-2x-large);
    margin-bottom: var(--margin-medium);
}

main section .bottom .placeholder p{
    font-size: var(--font-size-large);
}